* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

.App {
  background-color: #000000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #1B1918;
}

.main-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 45px;
  min-height: 1000px;
  /* border: 1px solid red; */
}

.filter-side {
  width: 20%;
  min-height: 700px;
  /* border: 1px solid yellow; */
}

.item-side {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 1000px;
  /* border: 1px solid blue; */
}