* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

.App {
  background-color: #000000;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #1B1918;
}